<b> Identifying Unique Locations

In [1]:
import pandas as pd 
import numpy as np

In [2]:
train = pd.read_csv('/Users/Rohit/Documents/KAGGLE/NLP_Disaster/nlp-getting-started/train.csv')
test = pd.read_csv('/Users/Rohit/Documents/KAGGLE/NLP_Disaster/nlp-getting-started/test.csv')

In [3]:
train.describe()

                 id      target
count   7613.000000  7613.00000
mean    5441.934848     0.42966
std     3137.116090     0.49506
min        1.000000     0.00000
25%     2734.000000     0.00000
50%     5408.000000     0.00000
75%     8146.000000     1.00000
max    10873.000000     1.00000

In [4]:
train[0:5]

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [5]:
train.shape

(7613, 5)

In [6]:
keyword_list = train[train.keyword.notnull()]
keyword_list

,id,keyword,location,text,target
31,48,ablaze,Birmingham,@bbcmtd Wholesale Markets ablaze http://t.co/l...,1
32,49,ablaze,Est. September 2012 - Bristol,We always try to bring the heavy. #metal #RT h...,0
33,50,ablaze,AFRICA,#AFRICANBAZE: Breaking news:Nigeria flag set a...,1
34,52,ablaze,"Philadelphia, PA",Crying out for more! Set me ablaze,0
35,53,ablaze,"London, UK",On plus side LOOK AT THE SKY LAST NIGHT IT WAS...,0
...,...,...,...,...,...
7578,10830,wrecked,NaN,@jt_ruff23 @cameronhacker and I wrecked you both,0
7579,10831,wrecked,"Vancouver, Canada",Three days off from work and they've pretty mu...,0
7580,10832,wrecked,London,#FX #forex #trading Cramer: Iger's 3 words tha...,0
7581,10833,wrecked,Lincoln,@engineshed Great atmosphere at the British Li...,0
7582,10834,wrecked,NaN,Cramer: Iger's 3 words that wrecked Disney's s...,0

In [18]:
Non_Key_List = train[train.keyword.isnull()]
Non_Key_List

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1
...,...,...,...,...,...
7608,10869,NaN,NaN,Two giant cranes holding a bridge collapse int...,1
7609,10870,NaN,NaN,@aria_ahrary @TheTawniest The out of control w...,1
7610,10871,NaN,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1
7611,10872,NaN,NaN,Police investigating after an e-bike collided ...,1
7612,10873,NaN,NaN,The Latest: More Homes Razed by Northern Calif...,1

In [21]:
unique_keyword = train.keyword.unique().tolist()
unique_keyword.remove(unique_keyword[0])
unique_keyword

['ablaze',
 'accident',
 'aftershock',
 'airplane%20accident',
 'ambulance',
 'annihilated',
 'annihilation',
 'apocalypse',
 'armageddon',
 'army',
 'arson',
 'arsonist',
 'attack',
 'attacked',
 'avalanche',
 'battle',
 'bioterror',
 'bioterrorism',
 'blaze',
 'blazing',
 'bleeding',
 'blew%20up',
 'blight',
 'blizzard',
 'blood',
 'bloody',
 'blown%20up',
 'body%20bag',
 'body%20bagging',
 'body%20bags',
 'bomb',
 'bombed',
 'bombing',
 'bridge%20collapse',
 'buildings%20burning',
 'buildings%20on%20fire',
 'burned',
 'burning',
 'burning%20buildings',
 'bush%20fires',
 'casualties',
 'casualty',
 'catastrophe',
 'catastrophic',
 'chemical%20emergency',
 'cliff%20fall',
 'collapse',
 'collapsed',
 'collide',
 'collided',
 'collision',
 'crash',
 'crashed',
 'crush',
 'crushed',
 'curfew',
 'cyclone',
 'damage',
 'danger',
 'dead',
 'death',
 'deaths',
 'debris',
 'deluge',
 'deluged',
 'demolish',
 'demolished',
 'demolition',
 'derail',
 'derailed',
 'derailment',
 'desolate',
 'desolation',
 'destroy',
 'destroyed',
 'destruction',
 'detonate',
 'detonation',
 'devastated',
 'devastation',
 'disaster',
 'displaced',
 'drought',
 'drown',
 'drowned',
 'drowning',
 'dust%20storm',
 'earthquake',
 'electrocute',
 'electrocuted',
 'emergency',
 'emergency%20plan',
 'emergency%20services',
 'engulfed',
 'epicentre',
 'evacuate',
 'evacuated',
 'evacuation',
 'explode',
 'exploded',
 'explosion',
 'eyewitness',
 'famine',
 'fatal',
 'fatalities',
 'fatality',
 'fear',
 'fire',
 'fire%20truck',
 'first%20responders',
 'flames',
 'flattened',
 'flood',
 'flooding',
 'floods',
 'forest%20fire',
 'forest%20fires',
 'hail',
 'hailstorm',
 'harm',
 'hazard',
 'hazardous',
 'heat%20wave',
 'hellfire',
 'hijack',
 'hijacker',
 'hijacking',
 'hostage',
 'hostages',
 'hurricane',
 'injured',
 'injuries',
 'injury',
 'inundated',
 'inundation',
 'landslide',
 'lava',
 'lightning',
 'loud%20bang',
 'mass%20murder',
 'mass%20murderer',
 'massacre',
 'mayhem',
 'meltdown',
 'military',
 'mudslide',
 'natural%20disaster',
 'nuclear%20disaster',
 'nuclear%20reactor',
 'obliterate',
 'obliterated',
 'obliteration',
 'oil%20spill',
 'outbreak',
 'pandemonium',
 'panic',
 'panicking',
 'police',
 'quarantine',
 'quarantined',
 'radiation%20emergency',
 'rainstorm',
 'razed',
 'refugees',
 'rescue',
 'rescued',
 'rescuers',
 'riot',
 'rioting',
 'rubble',
 'ruin',
 'sandstorm',
 'screamed',
 'screaming',
 'screams',
 'seismic',
 'sinkhole',
 'sinking',
 'siren',
 'sirens',
 'smoke',
 'snowstorm',
 'storm',
 'stretcher',
 'structural%20failure',
 'suicide%20bomb',
 'suicide%20bomber',
 'suicide%20bombing',
 'sunk',
 'survive',
 'survived',
 'survivors',
 'terrorism',
 'terrorist',
 'threat',
 'thunder',
 'thunderstorm',
 'tornado',
 'tragedy',
 'trapped',
 'trauma',
 'traumatised',
 'trouble',
 'tsunami',
 'twister',
 'typhoon',
 'upheaval',
 'violent%20storm',
 'volcano',
 'war%20zone',
 'weapon',
 'weapons',
 'whirlwind',
 'wild%20fires',
 'wildfire',
 'windstorm',
 'wounded',
 'wounds',
 'wreck',
 'wreckage',
 'wrecked']

In [23]:
unique_keyword_df = pd.DataFrame(unique_keyword)

In [24]:
unique_keyword_df

                       0
0                 ablaze
1               accident
2             aftershock
3    airplane%20accident
4              ambulance
..                   ...
216              wounded
217               wounds
218                wreck
219             wreckage
220              wrecked

[221 rows x 1 columns]

In [25]:
a = Non_Key_List['text'].tolist()
a

['Our Deeds are the Reason of this #earthquake May ALLAH Forgive us all',
 'Forest fire near La Ronge Sask. Canada',
 "All residents asked to 'shelter in place' are being notified by officers. No other evacuation or shelter in place orders are expected",
 '13,000 people receive #wildfires evacuation orders in California ',
 'Just got sent this photo from Ruby #Alaska as smoke from #wildfires pours into a school ',
 '#RockyFire Update => California Hwy. 20 closed in both directions due to Lake County fire - #CAfire #wildfires',
 '#flood #disaster Heavy rain causes flash flooding of streets in Manitou, Colorado Springs areas',
 "I'm on top of the hill and I can see a fire in the woods...",
 "There's an emergency evacuation happening now in the building across the street",
 "I'm afraid that the tornado is coming to our area...",
 'Three people died from the heat wave so far',
 'Haha South Tampa is getting flooded hah- WAIT A SECOND I LIVE IN SOUTH TAMPA WHAT AM I GONNA DO WHAT AM I GONNA DO FVCK #flooding',
 "#raining #flooding #Florida #TampaBay #Tampa 18 or 19 days. I've lost count ",
 '#Flood in Bago Myanmar #We arrived Bago',
 'Damage to school bus on 80 in multi car crash #BREAKING ',
 "What's up man?",
 'I love fruits',
 'Summer is lovely',
 'My car is so fast',
 'What a goooooooaaaaaal!!!!!!',
 'this is ridiculous....',
 'London is cool ;)',
 'Love skiing',
 'What a wonderful day!',
 'LOOOOOOL',
 "No way...I can't eat that shit",
 'Was in NYC last week!',
 'Love my girlfriend',
 'Cooool :)',
 'Do you like pasta?',
 'The end!',
 'Pic of 16yr old PKK suicide bomber who detonated bomb in Turkey Army trench released http://t.co/aaWZXykLES http://t.co/RsMvgDxRiv',
 'These boxes are ready to explode! Exploding Kittens finally arrived! gameofkittens #explodingkittens\x89Û_ https://t.co/TFGrAyuDC5',
 'Calgary Police Flood Road Closures in Calgary. http://t.co/RLN09WKe9g',
 '#Sismo DETECTADO #JapÌ_n 15:41:07 Seismic intensity 0 Iwate Miyagi JST #?? http://t.co/gMoUl9zQ2Q',
 'Sirens everywhere!',
 'BREAKING: #ISIS claims responsibility for mosque attack in Saudi Arabia that killed 13 http://t.co/VZ640XOSwj http://t.co/m2HpnOAK8b',
 'Omg earthquake',
 'SEVERE WEATHER BULLETIN No. 5 FOR: TYPHOON \x89ÛÏ#HannaPH\x89Û\x9d (SOUDELOR) TROPICAL CYCLONE: WARNING ISSUED AT 5:00 PM 06... http://t.co/tHhjJw51PE \x89Û_',
 'Heat wave warning aa? Ayyo dei. Just when I plan to visit friends after a year.',
 'An IS group suicide bomber detonated an explosives-packed vest in a mosque inside a Saudi special forces headquarters killing 15 people.',
 'I just heard a really loud bang and everyone is asleep great',
 'A gas thing just exploded and I heard screams and now the whole street smells of gas ... ??',
 'NWS: Flash Flood Warning Continued for Shelby County until 08:00 PM Wednesday. http://t.co/nZ7ACKRrJi #tnwx',
 'RT @LivingSafely: #NWS issues Severe #Thunderstorm Warnings for parts of #AR #NC #OK. Expect more trauma cases: http://t.co/FWqfCKNCQW',
 '#??? #?? #??? #??? MH370: Aircraft debris found on La Reunion is from missing Malaysia Airlines ... http://t.co/5B7qT2YxdA',
 'Father-of-three Lost Control of Car After Overtaking and Collided #BathAndNorthEastSomerset http://t.co/fa3FcnlN86',
 '1.3 #Earthquake in 9Km Ssw Of Anza California #iPhone users download the Earthquake app for more information http://t.co/V3aZWOAmzK',
 'Evacuation order lifted for town of Roosevelt: http://t.co/EDyfo6E2PU http://t.co/M5KxLPKFA1',
 '#breaking #LA Refugio oil spill may have been costlier bigger than projected http://t.co/5ueCmcv2Pk',
 "a siren just went off and it wasn't the Forney tornado warning ??",
 'Officials say a quarantine is in place at an Alabama home over a possible Ebola case after developing symptoms... http://t.co/rqKK15uhEY',
 '#WorldNews Fallen powerlines on G:link tram: UPDATE: FIRE crews have evacuated up to 30 passengers who were tr... http://t.co/EYSVvzA7Qm',
 "on the flip side I'm at Walmart and there is a bomb and everyone had to evacuate so stay tuned if I blow up or not",
 'Suicide bomber kills 15 in Saudi security site mosque - Reuters via World - Google News - Wall ... http://t.co/nF4IculOje',
 '#stormchase Violent Record Breaking EF-5 El Reno Oklahoma Tornado Nearly Runs Over ... - http://t.co/3SICroAaNz http://t.co/I27Oa0HISp',
 'Two giant cranes holding a bridge collapse into nearby homes http://t.co/STfMbbZFB5',
 '@aria_ahrary @TheTawniest The out of control wild fires in California even in the Northern part of the state. Very troubling.',
 'M1.94 [01:04 UTC]?5km S of Volcano Hawaii. http://t.co/zDtoyd8EbJ',
 'Police investigating after an e-bike collided with a car in Little Portugal. E-bike rider suffered serious non-life threatening injuries.',
 'The Latest: More Homes Razed by Northern California Wildfire - ABC News http://t.co/YmY4rSkQ3d']

In [26]:
for i, j in enumerate(a):
    for c in unique_keyword:
        if c in j:
            Non_Key_List.iloc[i,1] = c

/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

In [28]:
Non_Key_List

,id,keyword,location,text,target
0,1,earthquake,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,fire,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,evacuation,NaN,All residents asked to 'shelter in place' are ...,1
3,6,wildfire,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,wildfire,NaN,Just got sent this photo from Ruby #Alaska as ...,1
...,...,...,...,...,...
7608,10869,collapse,NaN,Two giant cranes holding a bridge collapse int...,1
7609,10870,fire,NaN,@aria_ahrary @TheTawniest The out of control w...,1
7610,10871,NaN,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1
7611,10872,threat,NaN,Police investigating after an e-bike collided ...,1
7612,10873,fire,NaN,The Latest: More Homes Razed by Northern Calif...,1

In [30]:
train

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1
...,...,...,...,...,...
7608,10869,NaN,NaN,Two giant cranes holding a bridge collapse int...,1
7609,10870,NaN,NaN,@aria_ahrary @TheTawniest The out of control w...,1
7610,10871,NaN,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1
7611,10872,NaN,NaN,Police investigating after an e-bike collided ...,1
7612,10873,NaN,NaN,The Latest: More Homes Razed by Northern Calif...,1

In [38]:
for i in range(len(train)):
    if(train.iloc[i,2] == np.nan):
        for j in train.location.unique().tolist():
            if(j in train.iloc[i,3]):
                train.iloc[i,2] = j
                print(train.iloc[i,2])

In [37]:
lc = train.location.unique().tolist()
lc

[nan,
 'Birmingham',
 'Est. September 2012 - Bristol',
 'AFRICA',
 'Philadelphia, PA',
 'London, UK',
 'Pretoria',
 'World Wide!!',
 'Paranaque City',
 'Live On Webcam',
 'milky way',
 'GREENSBORO,NORTH CAROLINA',
 'England.',
 'Sheffield Township, Ohio',
 'India',
 'Barbados',
 'Anaheim',
 'Abuja',
 'USA',
 'South Africa',
 'Sao Paulo, Brazil',
 'hollywoodland ',
 'Edmonton, Alberta - Treaty 6',
 'Inang Pamantasan',
 'Twitter Lockout in progress',
 'Concord, CA',
 'Calgary, AB',
 'San Francisco',
 'CLVLND',
 'Nashville, TN',
 'Santa Clara, CA',
 'UK',
 'St. Louis, MO',
 'Walker County, Alabama',
 'Australia',
 'North Carolina',
 'Norf Carolina',
 'San Mateo County, CA',
 'Njoro, Kenya',
 "Your Sister's Bedroom",
 'Arlington, TX',
 'South Bloomfield, OH',
 'New Hanover County, NC',
 'Maldives',
 'Manchester, NH',
 'Wilmington, NC',
 'global',
 'Alberta | Sask. | Montana',
 'Charlotte',
 'Baton Rouge, LA',
 'Hagerstown, MD',
 'Gloucestershire , UK',
 'Nairobi, Kenya',
 'Instagram - @heyimginog ',
 '304',
 'Switzerland',
 'US',
 'Somewhere Only We Know ?',
 'Belgium',
 'dope show',
 'Oshawa, Canada',
 'Baker City Oregon',
 'United States',
 'marysville ca ',
 'Hermosa Beach, CA',
 '19.600858, -99.047821',
 'Pennsylvania',
 'Salt Lake City, Utah',
 'Palo Alto, CA',
 'Spain but Opa-Locka, FL',
 'Jaipur, India',
 'Hyderabad Telangana INDIA',
 'Eagle Pass, Texas',
 'bangalore',
 'Financial News and Views',
 'Indonesia',
 'y(our) boyfriends legs ',
 'New Mexico, USA',
 'Somewhere Out There',
 'Mumbai india',
 'sri lanka',
 'Not a U.S resident',
 'Lehigh Valley, PA',
 'Canada',
 'Thrissur',
 'Havenford',
 '92',
 'Israel',
 'Fashion Heaven. IG: TMId_',
 'San Francisco, CA',
 'italy',
 'nyc',
 'Toronto',
 'Jackson',
 'New York / Worldwide',
 'New Orleans, LA',
 'West Wales',
 'Happily Married with 2 kids ',
 'Cambridge, MA',
 'Arizona ',
 'Mumbai',
 'Amsterdam',
 'Swindon,England ',
 'Williamstown, VT',
 'North Carolina, USA',
 'Karachi',
 'Loveland Colorado',
 '|| c h i c a g o ||',
 'L. A.',
 'VISIT MY YOUTUBE CHANNEL.',
 'Lexington',
 'Hannover, Germany',
 'Playa',
 'Davidson, NC',
 'Higher Places',
 'Horsemind, MI',
 'New York, NY',
 'Boksburg',
 'V-RP @OZRP_ ?MV, AU, R18+?',
 'Greater Manchester, UK',
 'Boston',
 'The Canopy Kingdom',
 'the own zone layer ',
 'London',
 'Trancy Manor',
 'South 37',
 'West Lancashire, UK.',
 'PA',
 '\x89Û¢ Views From The Six \x89Û¢',
 'University of Toronto',
 'Swaning Around',
 'Albany/NY',
 'California, USA',
 'Wild Wild Web',
 'Subconscious LA',
 'Spain',
 'CA physically- Boston Strong?',
 'Yeezy Taught Me , NV',
 'Rock Hill, SC',
 'Coolidge, AZ',
 'Republic of Texas',
 'Phoenix, AZ',
 'Ljubljana, Slovenia',
 'Connecticut',
 'Tacoma,Washington',
 'BIG D  HOUSTON/BOSTON/DENVER',
 'Chandler, AZ',
 'ColoRADo',
 'sindria',
 'Texas',
 'Elk Grove, CA, USA',
 'The Shire',
 'Austin, TX',
 'Oakland',
 'Albuquerque',
 'Buenos Aires, Argentina',
 'San Antonio-ish, TX',
 'Oregon, USA',
 'Harlingen, TX',
 'Buffalo NY',
 'Las Vegas',
 'Tokyo',
 'California, United States',
 '#FLIGHTCITY UK  ',
 'Alphen aan den Rijn, Holland',
 'Wrigley Field',
 'probably the strip club',
 'England',
 'New York City',
 'Here And There',
 'Rotterdam, Zuid-Holland',
 'Derry, 17 ',
 'Nowhere. Everywhere.',
 'Florida, USA',
 'Worldwide',
 'East Coast',
 'California',
 'Toronto, ON',
 'The Orwellion police-state',
 'Castaic, CA',
 'Helsinki, Finland',
 'East Kilbride',
 'middle eastern palace',
 'Kent',
 'Perthshire ',
 'twitch.tv/naturalemblem26',
 'cyprus',
 'Memphis, TN',
 'Studio',
 'Hollywood, CA',
 'New York',
 'Pakistan',
 'Mexico! ^_^',
 'Campinas Sp',
 'Harlem, New York',
 'Washington, DC',
 'Burbank,CA',
 '? ',
 'Spokane, Washington',
 'Charlotte, NC',
 'Our Empire State',
 'Jerusalem',
 'Kingston, Pennsylvania',
 'Milwaukee, WI',
 'Zero Branco',
 'bajaur',
 'Eldoret, kenya',
 '\x89ÛÊ\x89ÛÊ\x89ÛÊ',
 'Miami,FL',
 'Los Angeles, CA',
 'North-East Region, Singapore',
 'Chicago',
 'EARTH ',
 'Jerusalem, Israel',
 'Menasha, WI',
 'ss',
 'Atlanta',
 'Earth',
 'Bleak House',
 'heccfidmss@gmail.com',
 'toronto',
 '[ Blonde Bi Fry. ]',
 'America',
 'NYC :) Ex- #Islamophobe',
 'SF Bay Area',
 'Orange County, California',
 'Winston Salem, North Carolina',
 'Adelaide, South Australia',
 'WASHINGTON,DC',
 ' snapchat // fvck_casper ',
 'Dallas, TX',
 'NYC',
 'Location',
 'Selena | Britney | Hilary',
 'Ireland',
 'Freeport IL. USA',
 'Dubai',
 'Tucson, Az',
 'Seattle WA',
 'Bellevue NE',
 'West Bank, Gaza Strip',
 '\x89Û¢FLG\x89Û¢',
 'Scotland, United Kingdom',
 'Online 24/7. Not even kidding.',
 'rowyso dallas ',
 'Halton, Ontario',
 'portland, oregon',
 'FIMAK A.S Ist Bolge Muduru',
 'London.',
 '#UNITE THE BLUE  ',
 'Dayton, Ohio',
 'Global',
 'ph',
 'Port Jervis, NY',
 'City Of Joy',
 'Texas, USA',
 '1/3 of the blam squad ',
 'CCH ',
 'atx',
 'MAURITIUS',
 'AKRON OHIO USA',
 'london / st catharines ?',
 'Peshawar',
 'LEALMAN, FLORIDA',
 '#GDJB #ASOT',
 'Groningen, Netherlands, Europe',
 'Livingston, IL  U.S.A.',
 'Arundel ',
 'Anna Maria, FL',
 'israel',
 'The Hammock, FL, USA',
 '??????????????????',
 'SÌ£o Paulo SP,  Brasil',
 "in Dimitri's arms",
 'Oslo, Norway',
 'Los Angeles',
 'Loughton, Essex, UK',
 'guaravitas',
 'Score More Goals Buying @',
 'NEW YORK',
 'London, Kent & SE England.',
 'Score Team Goals Buying @',
 'South Central Wales',
 'Jersey City, New Jersey',
 'Denver, CO',
 'Brasil',
 'Buy Give Me My Money ',
 '505 W. Maple, Suite 100',
 'Philippines',
 'Freeport il ',
 'World',
 'Danville, VA',
 'UK Great Britain ',
 'Jerusalem!',
 'San Jose, CA',
 'Use #TMW in tweets get #RT',
 'Utah',
 'Wisconsin',
 'West Richland, WA',
 'CHICAGO (312)',
 'Washington D.C.',
 'NC',
 'West Virginia, USA',
 'British girl in Texas',
 'Silver Spring, MD',
 'Atlanta, GA',
 'Manhattan, NY',
 'Wilmington, DE',
 'Memphis',
 'iTunes',
 'Oxford, MS',
 'Pelham, AL',
 'Jacksonville, FL',
 'Arkansas, Jonesboro',
 'Across the Atlantic',
 'Melbourne, Florida',
 'Over the Moon...',
 'Extraterrestrial Highway',
 'Espoo, Finland',
 'Washington, D.C., area',
 'OES 4th Point. sisSTAR & TI',
 'Sydney, New South Wales',
 'Netherlands,Amsterdam-Virtual ',
 'Hudson Valley, NY',
 'timeline kamu',
 'Budapest, Hungary',
 'Searching for Bae ',
 'Eagle Mountain, Texas ',
 'Columbus',
 'Temecula, CA',
 'Atlanta,Ga',
 'Fresno, CA',
 'Raleigh Durham, NC',
 'ducked off . . . ',
 'Rio de Janeiro',
 '302',
 'Columbus, OH',
 'Mo.City',
 'Tripsburg, ms.',
 'Durham N.C ',
 'Delhi',
 'ARIZONA',
 'Penn Hills, PA',
 'Karachi ',
 'seattle wa',
 'SOUTHERN CALIFORNIA DESERT',
 'Gotham City',
 'My contac 27B80F7E 08170156520',
 'Pig Symbol, Alabama',
 'Intramuros, Manila',
 'THE WORLD T.G.G / M.M.M ',
 'Between the worlds ',
 'State of Georgia',
 'Your screen',
 'Lima-Peru',
 'worldwide',
 'Saltillo, Coahuila de Zaragoza',
 'Suitland',
 'Everywhere',
 'Konoha',
 'Swag Francisco',
 'Saint Marys, GA',
 'Nigeria',
 'Essex/Brighton',
 'Pennsylvania, PA',
 'Rockford, IL',
 'AZ',
 'Vero Beach , FL',
 'IN',
 'In the middle of no where',
 'Baltimore, MD',
 'dmv ?? fashion school @ KSU. ',
 'Nice places ',
 'Quantico, VA',
 'Island Lake, IL',
 'Live Oak, TX',
 'Gages Lake, IL',
 'Madisonville TN',
 'Basketball City, USA ',
 'AEP',
 'Alberta Pack',
 '#expelcl*y',
 'My heart is a ghost town!',
 'The Great State of Texas',
 'Alicante, Valencia',
 'Greensboro, NC',
 ' Indiana',
 'the local dump',
 'Seattle',
 '#SOUTHAMPTON ENGLAND',
 '?205?478?',
 'Waterford MI',
 'Iowa, USA',
 'va',
 'Florida',
 'california mermaid ? ',
 'New York ? ATL',
 'USA/SO FLORIDA via BROOKLYN NY',
 'H / pez & sophia ',
 'Brooklyn, NY',
 'Queens, NY',
 'Vancouver, BC.',
 'Ottawa, Canada',
 'wherever the $$$ at',
 'Purgatory, USA',
 'Calgary, Alberta',
 'Kama | 18 | France ',
 'Sydney',
 'Maryland, USA',
 'Daruka (near Tamworth) NSW',
 'IJmuiden, The Netherlands',
 'University Heights, Ohio',
 'Central Illinois',
 'Baton Rouge',
 'PSN: Pipbois ',
 'Colombo,Sri Lanka.',
 'Johannesburg, South Africa ',
 "Me mammy's belly",
 'UK & Ibiza',
 'Laventillemoorings ',
 'Scotland',
 'Vancouver, BC',
 'Cleveland, OH',
 'Detroit, MI, United States',
 'Guelph Ontario Canada',
 'Waterfront',
 'columbus ohio',
 'Waukesha, WI',
 'Himalayan Mountains',
 'Colorado/WorldWide',
 'Ontario Canada',
 'Houston,  TX',
 'lakewood colorado',
 'THE 6IX',
 'Washington, USA',
 'The ?? below ???',
 'Ideally under a big tree',
 "Conversing In Janet's CafÌ¬",
 "???????, ??'??????",
 "Dime's Palace",
 'Cairo, Egypt',
 'Seattle, WA',
 'Bug Forest',
 'canberra',
 'International',
 'The World',
 'Htx',
 'PunPunlÌ¢ndia',
 '???',
 'Itirapina, SÌ£o Paulo',
 'North Jersey',
 'Ewa Beach, HI',
 'Biloxi, Mississippi',
 'Buenos Aires',
 'Brecksville, OH',
 'Walthamstow, London',
 'Malaysia',
 'Ivano-Frankivsk',
 'Sunshine Coast, Queensland',
 'England,UK,Europe,Sol 3.',
 'Nashua NH',
 'Leicester',
 '65',
 'Westchester',
 'Lynnfield, MA',
 'Level 3 Garrison, Sector G',
 'Singapore',
 'Glasgow',
 'Shity land of Northern Ireland',
 'Christchurch New Zealand',
 'peekskill. new york, 10566 ',
 'PH',
 'Storybrooke ',
 'under the blanket',
 'Isolated City In World Perth',
 'Brazil ',
 'AUS',
 'Santa Cruz, CA',
 'Inverness, Nova Scotia',
 'L/S/Z/L/T/H/C/H/R/A/S/C',
 'Oklahoma',
 '801 SL,UT',
 'fluffy cloud',
 'The 5th Dimension. ',
 'Georgia',
 'July 11th, 2015. ?',
 'The Grey Area',
 'St Paul, MN',
 'Cobblestone',
 'ÌÏT: 30.307558,-81.403118',
 'Cosmic Oneness',
 'Guildford, UK',
 'Nowhere Islands/Smash Manor',
 'kisumu',
 'Making Worldwide Change Near U',
 'ATX',
 'LA/OC/Vegas',
 'London/Outlaw Country ',
 'Grimsby, England',
 'Gotham',
 'Manchester, The World, England',
 'sitting on Eddie Vedders lap,',
 'Missouri, USA',
 'Greenville,SC',
 'Paignton',
 'have car; will travel',
 'ATL ? SEA ',
 'ÌÏT: 39.982988,-75.261624',
 '#EngleWood CHICAGO ',
 '302???? 815',
 'New Your',
 'PURPLE BOOTH STUDIO\x89ã¢',
 'Cloud 9',
 'Former Yugoslav Republic of Macedonia',
 '3?3?7?SLOPelousas??2?2?5?',
 '316',
 "#WhereverI'mAt",
 'Huber Heights, OH',
 'Miami ??',
 'Houston, TX',
 'Every where',
 "401 livin'",
 'MI',
 'EPTX',
 'Austin, Texas',
 'Oklahoma City',
 'CA',
 'United Kingdom',
 'WESTSIDE OF PHILLY 7? BLOCK??',
 'Charlotte NC',
 'LONG ISLAND, NY',
 'washington, d.c.',
 'WAISTDEEP, TX',
 'D.C. - Baltimore - Annapolis',
 '#937??#734',
 'Fife, WA',
 'Bushkill pa',
 'In the Shadows...',
 'southwest, Tx',
 'ANYWEHERE !!',
 'Menlo Park. SFO. The World.',
 'Speaking the Truth in Love',
 'Aarhus, Central Jutland',
 'Lincoln, NE',
 'wny',
 'Bolton & Tewkesbury, UK',
 "travelling to tae's pants",
 'keli x',
 'Manchester',
 'Knoxville, TN',
 'ChicagoRObotz',
 "whs '17",
 'NV',
 'lagos nigeria',
 'Edmonton, Alberta',
 '[Gia.] | #KardashianEmpire',
 'Sunrise Manor, NV',
 'Oxford, OH',
 'Odawara, Japan',
 'Chicago, IL',
 'Des Moines, IA',
 'Dundas, Ontario',
 'IDN',
 'Netherlands',
 'DaKounty, Pa',
 'DÌ_sseldorf, Germany',
 'Old Blighty',
 '??',
 'The land of New Jersey. ',
 'Atlanta Georgia',
 'MY RTs ARE NOT ENDORSEMENTS',
 'Kabul, Tuebingen, Innsbruck',
 'Light and dark, form and void',
 'Nairobi, Kenya ',
 'Erbil',
 'Stockton on tees Teesside UK',
 'Screwston, TX',
 'My old New England home',
 'melbourne',
 'Cape Town',
 'Ikeja, Nigeria',
 'Warwick, RI @Dollarocracy also',
 'texas a&m university',
 'MA',
 'Shipwreck Cove',
 'Sydney, Australia',
 'WorldWide',
 'Overland Park, KS',
 'SWMO',
 'Puerto Rico',
 'Toronto-Citizen of Canada & US',
 'Silicon Valley',
 'North East USA',
 'Washington, D.C.',
 'VitÌ_ria (ES)',
 'New Delhi, Delhi',
 'Buscame EL tu Melte',
 'Wiltshire',
 'PROUD INDIANS',
 'Mumbai , India',
 'Pittsburgh PA',
 'MUM-DEL',
 'Leeds, England',
 'Playa del Carmen, Mexico',
 'NY, CT & Greece',
 'Mackay, QLD, Australia',
 'Quincy MA',
 'NJ',
 'Madison, GA',
 'KurveZ@GearHeadCentral.net',
 'St Charles, MD',
 'Denver, Colorado',
 'Ziam af ',
 'GO BLUE! HAIL YES!!',
 'Outside The Matrix, I Think.',
 'In Hell',
 'Epic City, BB.',
 'somewhere over a rainbow',
 'Selma2Oakland',
 'Bombardment Bay',
 'Savannah, GA',
 'dallas',
 'New Orleans ,Louisiana',
 'England, United Kingdom',
 'Dublin City, Ireland',
 'New Hampshire',
 'World Wide',
 'Intermountain West',
 'Tulsa, Oklahoma',
 'Auburn, AL',
 'taken by piper curda',
 'Scotland ',
 'Nigeria, Global',
 'Fort Walton Beach, Fl',
 'Sweden',
 'Groton, CT',
 'Brisbane Australia',
 'NY Capital District',
 'Peoria',
 'Reading UK',
 'Concord, NH ',
 'CORNFIELDS',
 'Worcester, MA',
 'Roanoke, VA',
 'nj',
 'MA via PA',
 'Boston, MA',
 'Oklahoma City, OK',
 'toronto \x89Û¢ dallas',
 'San Diego CA',
 'germany',
 'Massachusetts',
 ' Nxgerxa',
 'Erie, PA',
 'Port Charlotte, FL',
 'Belleville, Illinois',
 'Alabama',
 'Long Island NY & San Francisco',
 'Gainesville, FL',
 'Oakland, CA',
 '956',
 'Escondido, CA',
 'DC',
 'Chicago Area',
 'Upper St Clair, PA',
 'Cherry Creek Denver CO',
 '627',
 'Blogland',
 'mumbai',
 'Isle of Man',
 'Hampton Roads, VA',
 'Gameday',
 'Earthling (For now!)',
 'Black Canyon New River, AZ',
 'Caracas, Venezuela.',
 'NY',
 'Charlottetown',
 'Paradise, NV',
 '??t?a',
 'LiÌ¬ge',
 'Spokane, Washington 99206',
 'taco bell',
 'Australian Capital Territory',
 'http://www.amazon.com/dp/B00HR',
 '[ kate + they/them + infp-t ]',
 'Sacramento, CA',
 'please H? ?:??',
 'we?it \x89Û¢ ixwin',
 'Santiago Bernabeau',
 'y/e/l',
 'Whiterun, Skyrim',
 'Greenpoint, Brooklyn',
 'Victoria, British Columbia',
 'a botanical garden probably',
 'Nelspruit, South Africa',
 'midwest',
 'Copenhagen, Capital Region of Denmark',
 'Spying on your thoughts',
 'seattle grace mercy death',
 'Tucson, Arizona ',
 'Charlotte County Florida',
 'Head Office: United Kingdom',
 'Mid north coast of NSW',
 'iPhone: -27.499212,153.011072',
 'Queen Creek AZ',
 'Jamaica',
 'Trinidad and Tobago',
 'Melbourne Australia',
 'The Internet & NYC',
 'London/Bristol/Guildford',
 'Canberra, Australian Capital Territory',
 'beacon hills ',
 'somewhere outside',
 'Wolmers Trust School for Boys ',
 'Loughborough.',
 'Selangor',
 'indiana',
 'Bronx, New York',
 'Canadian bread',
 "Le Moyne '16",
 'Hoxton, London',
 'Las Vegas, NV USA',
 'Heinz Field ',
 'Skyport de la Rosa',
 'The Low-Cal Calzone Zone',
 'Brooklyn, New York',
 '50% Queanbeyan - 50% Sydney',
 'Insula Barataria',
 'everywhere ',
 'Afghanistan, USA',
 'Inglewood, CA',
 'Absecon, NJ',
 'Williamsbridge, Bronx, New Yor',
 'Northern Kentucky, USA',
 'Mostly Yuin.',
 'Nairobi',
 'Rochelle, GA',
 'London UK',
 'south of heaven ',
 'El Dorado, KS',
 'Santa Monica, CA',
 'Kenya',
 '1648 Queen St. West, Toronto.',
 'Toledo, OH',
 'Fairfield, California',
 'Trinity, Bailiwick of Jersey',
 'Virginia',
 'LIVERPOOL',
 'Boulder, CO',
 'Hospital, bc of SKH vid.',
 'Hartford  London Hong Kong',
 "In @4SkinChan 's arms",
 'Massachusetts, USA',
 'Kansas City, MO',
 'Wellington, New Zealand',
 '?? ??',
 'los angeles, ca',
 'New Brunswick, NJ',
 'City of Angels, CA',
 'Morganville, Texas.',
 'America | New Zealand ',
 'Stockholm, Sweden',
 'Azeroth',
 "Lytham St Anne's ",
 'Ylisse',
 'Portugal',
 'All around the world baby',
 '@UntmdOutdoors #T.O.R.K ',
 'Lima, PerÌ¼',
 'Piedmont Area, North Carolina',
 'Buxton, Venice, and Nottingham',
 'Quito, Ecuador.',
 'Inexpressible Island ',
 ' Bouvet Island',
 'Shirley, NY',
 'Planet Earth',
 'Paonia, Colorado ',
 'Portland, OR',
 'Dublin, Ireland',
 'Lurking',
 'N?? Y???.',
 'Littleton, CO, USA',
 'Virginia, United States',
 'Center for Domestic Preparedness',
 'Ukraine and Ireland',
 'Welt',
 'Wales',
 'Seattle, Washington',
 'Beaumont, TX',
 'Annapolis, MD',
 'Las Vegas, Nevada',
 'Harris County, Texas',
 'Tyler, TX',
 'Evanston, IL',
 'North Ferriby, East Yorkshire',
 'Colombia',
 'Ames, Iowa',
 'Moscow, Russia',
 'Jersey City, NJ',
 'Mankato, MN',
 'Orbost, Victoria, Australia',
 ' Somewhere.',
 ' Neverland ',
 'London, England',
 'At Da Laundry Mat Wit Nivea ',
 'norway',
 '$ad $hawty',
 'NY || live easy? ',
 'BestCoast',
 'BC',
 'Abuja, Nigeria',
 'Colchester Essex ',
 'livin life in the 610',
 'Suplex City',
 'Inside your mind.',
 '36 & 38',
 'Sydney Australia',
 'Lagos, Nigeria',
 'New York, NY ',
 'Slappin and Smackin ',
 "DRAW A CIRCLE THAT'S THE EARTH",
 'Madrid, Comunidad de Madrid',
 'The Netherlands',
 'Highland Park, CA',
 'Swan River',
 'Kolkata, India',
 'Melrose',
 'Jubail IC, Saudi Arabia',
 'Sugarhouse, UT',
 'lugo',
 'Chicago, Illinois',
 'Blackpool, England, UK.',
 'San Jose, California',
 'Fakefams',
 'In the clouds...',
 'Sandton, South Africa',
 'Nigeria ',
 '#Bummerville otw',
 'Europe',
 'Brighton and Hove',
 'Pompano Beach, FL',
 'JKT48-Muse-A7X',
 'Behind The Obama Curtain',
 'Worldwide.',
 'LiVE MÌ\x81S',
 'Henderson, NV',
 'CAMARILLO, CA',
 'manchester, uk.',
 'Eugene, Oregon',
 'they/her',
 'Paris ',
 '(he/him)',
 'Kingston, Jamaica',
 'Spokane, WA',
 "I'm standing behind you",
 'Alexandria, Egypt.',
 'instagram- Chloe_Bellx',
 'on the web',
 'San Francisco Bay Area',
 '#ForeverWithBAP 8 ',
 'GOT7SupportPH',
 'wherever-the-fuck washington',
 'From NY. In Scranton, PA',
 'Perth, Western Australia',
 'Live mÌÁs',
 'Melton, GA',
 "Greg's place",
 'Viejo',
 'Kansas, The Free State! ~ KC',
 'Silang, Cavite / ParaÌ±aque',
 'Fort Smith, AR',
 'planeta H2o',
 'www.youtube.com?Malkavius2',
 'Michigan',
 'The Forever Girl',
 'EspÌ_rito Santo',
 'New York, USA',
 'Ormond By The Sea, FL',
 'Maryland,Baltimore',
 'Pennsylvania, USA',
 'Houston, Texas',
 'Yadkinville, NC',
 'Medford, NJ',
 'Dallas, Texas. ',
 'Roanoke VA',
 'Unnamed City',
 'Peterborough, On',
 '-6.152261,106.775995',
 "@protectingtitan's side.",
 'Oregon',
 'Eau Claire, Wisconsin',
 'St. Joseph, Minnesota',
 'From a torn up town MANCHESTER',
 'Waco TX',
 'Tennessee',
 'Cape Cod, Massachusetts USA',
 'bk. ',
 'Lansing, Michigan',
 'Peterborough, Ont.',
 'Johannesburg, South Africa',
 'On the court ',
 'Traverse City, MI',
 'See the barn of bleakness',
 'Hertfordshire ',
 'ÌÏT: 41.252426,-96.072013',
 'California ',
 'Greeley, CO',
 "'soooota",
 'Sacramento',
 'Ontario, Canada',
 'NY, NY',
 'Arvada, CO',
 'Maryland',
 'Vancouver, Colombie-Britannique',
 'Irving , Texas',
 'Riverside, CA',
 'SEATTLE, WA USA',
 'USA , AZ',
 'East Atlanta, Georgia',
 'Saint Lucia',
 'Peterborough, Ontario, Canada',
 'Colorado',
 'North Highlands, CA',
 'Vancouver',
 '60th St (SS)',
 'USA, WA',
 'btwn a rock and a hard place',
 'Aix-en-Provence, France',
 'Liverpool',
 'I-75 in Florida',
 '21.462446,-158.022017',
 'Melbourne, Australia',
 'Darlington',
 '  Melbourne, Australia',
 'Kenton, Ohio',
 'Galatians 2:20 ',
 'Charleston, SC',
 'Lancaster, Pennsylvania, USA',
 'In my own world!!!',
 'Definitely NOT the stables',
 'Cuernavaca, Morelos, MÌ©xico.',
 'Va Beach, Virginia',
 '52.479722, 62.184971',
 'The Pig Sty',
 'Bangor, Co.Down',
 'Weston super mare',
 'Victoria, Tx.',
 'Pakistan, Islamabad',
 'Gujranwala, Pakistan',
 'Lindenhurst',
 'Islamabad',
 'Somewhere',
 'too far',
 'Kingswinford',
 'i love the smurfs 2',
 'International ',
 "Viterbo BFA Acting '18",
 'Kaneohe',
 'Houma La',
 "EastAtlanta ??#WestGeorgia'18",
 'San Antonio, TX',
 'Cleveland, Ohio',
 'San Diego, Texas.',
 'GLOBAL',
 '05/04/2014 18:23 ?',
 'Bolivar, MO',
 'taking pain like pleasure',
 'San Fransokyo',
 'Washington, DC NATIVE',
 'Miami, FL',
 'w. Nykae ',
 'honeymoon avenue',
 'Toronto, Worldwide ',
 '11/4/14',
 "wherever there's netflix",
 '#HAMont',
 'U.K.',
 'online ',
 'Conroe, TX',
 'Ontario, Canada. ',
 'Guayaquil',
 'bahstun/porta reeko',
 'Bucks County, Pa',
 'Sunny South florida ',
 'Rio',
 'Neverland',
 'Trinidad & Tobago',
 'Chicago - Lake Buena Vista',
 'Toronto, Ontario',
 'Liberty Lake, WA',
 'Ankara - Malatya - ad Orontem',
 'antioch, california',
 'State College, PA',
 'somewhere in cali ',
 'Im Around ... Jersey',
 'Garden Grove',
 'Adelaide, Australia',
 'BKI-KUA',
 'urÌ£nus',
 'Illinois, USA',
 ...]